.forgotPassContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/55ef3f13e6ceeb6e8bc467c120ffac09.jpg);
}

.forgetPassForm {
    height: 45%;
    width: 34%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
}

h1 {
    font-weight: normal;
    margin-block-start: inherit;
    margin-block-end: inherit;
    padding-top: 25px;
    padding-bottom: 16px;
    color: white;
}

.inputFieldForgotPass {
    padding: 12px;
    height: 46px;
    color: white;
}

#btnForgPass {
    background-color: white;
    font-weight: bold;
    color: black;
    top: 36px;
    width: 120px;
    border-radius: 25px
}

#btnForgPass:hover {
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    color: white;
}

p {
    margin-block-start: auto;
    font-size: small;
    color: red;
}

.MuiFormLabel-root {
    color: white !important;
}

.MuiInputBase-input {
    min-width: 230px !important;
}

@media only screen and (max-width: 330px) {
    .forgetPassForm {
        width: 92% !important;
        height: 49% !important;
    }
}

@media only screen and (max-width: 370px) {
    .forgetPassForm {
        width: 85%;
        height: 77%;
    }
}

@media only screen and (max-width: 375px) {
    .forgetPassForm {
        width: 85%;
        height: 39%;
    }
}

@media only screen and (width :1024px) {
    .forgetPassForm {
        width: 47% !important;
        height: 21% !important;
    }
}

@media only screen and (min-width :670px) {
    .forgetPassForm {
        width: 50%;
        height: 49%;
    }
}

@media only screen and (min-width :410px) {
    .forgetPassForm {
        width: 80%;
        height: 36%;
    }
}

@media only screen and (min-width :760px) {
    .forgetPassForm {
        width: 46%;
        height: 27%;
    }
}

@media only screen and (min-width :785px) {
    .forgetPassForm {
        width: 46%;
        height: 78%;
    }
}

@media only screen and (width :414px) {
    .forgetPassForm {
        width: 70%;
        height: 37%;
    }
}

@media only screen and (min-width :1100px) {
    .forgetPassForm {
        width: 30%;
        height: 43%;
    }
}